/* Entête*/
header {
    h1 {
        text-align: center;
        margin: 0;
       
    }
    font-family: 'Shrikhand', cursive;
    position: relative;
    box-shadow: 0 0 10px #878687;
    padding: 5px;


}
.lieu{
    font-family: 'Roboto', sans-serif;
    background-color: #e8e6e8;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 1rem;
}