/*partie footer*/
footer{
    background-color: #2b272b;
    color: white;
    padding: 2rem;
    margin-top: 5rem;
    h3{
        font-family: 'Shrikhand', cursive;
    }
    .footer_elements{
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        & p{
            margin: .3rem;
        }
    }
}