/* Affichage des restaurants*/
.section2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    padding: 2rem;
    @media (max-width:1100px) {
        background-color: #efefef;
    }
    .contenerimg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
        
    }
}
.resto{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(138, 138, 138);
}
.nouveau{
    &::before{
        content: "Nouveau";
        background-color: aquamarine;
        color: green;
        position: absolute;
        right: 5%;
        top: 5%;
        z-index: 2;
        padding: 5px;
    }
}
figure {
    margin: 0;
    position: relative;

    img {
        height: 10rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
        z-index: 1;
    }
}
figcaption {
    padding: .5rem;
    position: relative;

    h3,
    p {
        margin: .3rem;
    }

    i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .fa-solid {
        color: transparent;
        opacity: 0;
        transition: all 400ms ease-in;
        
    }
    &:hover .fa-solid{
        background: linear-gradient(to bottom, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
    }
    @media (max-width:850) {
        &:active .fa-solid{
            background: linear-gradient(to bottom, #ff79da, #9356dc);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 1;
        }
    }
}