.principalcontener{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
   
    @media (max-width:1100px) {
        grid-template-columns: 1fr;
    }
}
/*partie resrvation et fonctionalité*/
main{
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: auto;
   
}
.section1 {
    @media (max-width:1100px) {
        padding: 2rem;
    }
    .fonctionnality {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .reservation {
        margin-bottom: 3rem;
        text-align: center;
        background-color: #fafafa;
        padding: 3rem;
        .reservez {
            font-family: 'Roboto', sans-serif;
            font-weight: bolder;
            margin: 0;
        }

        .decouvrez {
            font-family: 'Dosis', sans-serif;
        }
        button{
            background: linear-gradient(to bottom, #ff79da, #9356dc);
            color: white;
            border: none;
            border-radius: 25px;
            padding: 10px;
            box-shadow: 0 0 7px #777676; 
            &:hover{
                transition: 300ms all;
                transform: scale(1.03);
                opacity: 0.8;
            }
        }
    }
}
ul {
    counter-reset: nombre;
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
    @media (max-width:1100px) {
        flex-direction:row;
        justify-content: space-between;
    }
    @media (max-width:850px) {
        flex-direction:column;
        justify-content: space-between;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .3rem;
        gap: 1.5rem;
        border-radius: 25px;
        box-shadow: 0 0 5px #a3a3a3;
        &:hover{
            transition: 400ms all;
            transform: scale(1.03);
        }
        &::before{
            content: counter(nombre);
            counter-increment: nombre;
            color: white;
            background-color: #9356DC;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            border-radius: 100%;
            place-items: center;
            position: relative;
            left: -15px;
        }
    }
}

