@use"../utils/mixins";
@use"../utils/variables.scss";
.principalcontener{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
   
    @media (max-width:1100px) {
        grid-template-columns: 1fr;
    }
}
/*partie reservation et fonctionalité*/
main{
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: auto;
   
}
.section1 {
    .fonctionnality {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
    }
    .reservation {
        @media (max-width:1100px) {
            background-color: variables.$principal-dark-background;
        }
        text-align: center;
        padding: 3rem;
        .reservez {
            font-family: 'Roboto', sans-serif;
            font-weight: bolder;
            margin: 0;
        }

        .decouvrez {
           font-weight: 100;
        }
        button{
            @include mixins.gradient-button;
        }
    }
}
#fonction{
    margin: 0 0 1rem 0;
}
ul {
    counter-reset: nombre;
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
    @media (max-width:1100px) {
        flex-direction:row;
        justify-content: space-between;
    }
    @media (max-width:910px) {
        flex-direction:column;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .3rem;
        gap: 1rem;
        border-radius: 25px;
        @include mixins.principal-box-shadow;
        transition: 400ms all;
        i{
            color: #898686;
            
        }
        &:hover i{
            color: variables.$color-primary;
        }
        &:hover{
            transform: scale(1.03);
            @include mixins.box-shadow-hover;
            @include mixins.background-hover-li;
        }
        &::before{
            content: counter(nombre);
            counter-increment: nombre;
            color: white;
            background-color: variables.$color-primary;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            border-radius: 100%;
            place-items: center;
            position: relative;
            left: -15px;
        }
    }
}

