@use"../utils/mixins";
@use"../utils/variables.scss";
/* Affichage des restaurants*/
.section2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    padding: 2rem;
    @media (max-width:1100px) {
        background-color: variables.$principal-dark-background;
    }
    .contenerimg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
        
    }
}
.resto{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    @include mixins.principal-box-shadow;
}
.nouveau{
    &::before{
        content: "Nouveau";
        background-color: aquamarine;
        color: rgb(15, 67, 15);
        position: absolute;
        right: 5%;
        top: 5%;
        z-index: 2;
        padding: 5px;
    }
}
figure {
    margin: 0;
    position: relative;

    img {
        height: 10rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
        z-index: 1;
    }
}
figcaption {
    padding: .5rem;
    position: relative;

    h3,
    p {
        margin: .3rem;
    }
//pour faire une mixin
    @include mixins.heart-animation;
    @media (max-width:850) {
        &:active .fa-solid{
           @include mixins.gradient-button;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 1;
        }
    }
}