@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Entête*/
header {
  font-family: "Shrikhand", cursive;
  position: relative;
  box-shadow: 0 0 10px #878687;
  padding: 5px;
}
header h1 {
  text-align: center;
  margin: 0;
}

.lieu {
  font-family: "Roboto", sans-serif;
  background-color: #e8e6e8;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 1rem;
}

.principalcontener {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
@media (max-width: 1100px) {
  .principalcontener {
    grid-template-columns: 1fr;
  }
}

/*partie resrvation et fonctionalité*/
main {
  font-family: "Roboto", sans-serif;
  max-width: 1500px;
  margin: auto;
}

.section1 .fonctionnality {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.section1 .reservation {
  text-align: center;
  padding: 3rem;
}
@media (max-width: 1100px) {
  .section1 .reservation {
    background-color: #efefef;
  }
}
.section1 .reservation .reservez {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin: 0;
}
.section1 .reservation .decouvrez {
  font-family: "Dosis", sans-serif;
}
.section1 .reservation button {
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 7px #777676;
}
.section1 .reservation button:hover {
  transition: 300ms all;
  transform: scale(1.03);
  opacity: 0.8;
}

ul {
  counter-reset: nombre;
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media (max-width: 1100px) {
  ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 910px) {
  ul {
    flex-direction: column;
    justify-content: space-between;
  }
}
ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem;
  gap: 1.5rem;
  border-radius: 25px;
  box-shadow: 0 0 5px #a3a3a3;
}
ul li:hover {
  transition: 400ms all;
  transform: scale(1.03);
}
ul li::before {
  content: counter(nombre);
  counter-increment: nombre;
  color: white;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  border-radius: 100%;
  place-items: center;
  position: relative;
  left: -15px;
}

/* Affichage des restaurants*/
.section2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  padding: 2rem;
}
@media (max-width: 1100px) {
  .section2 {
    background-color: #efefef;
  }
}
.section2 .contenerimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.resto {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(138, 138, 138);
}

.nouveau::before {
  content: "Nouveau";
  background-color: aquamarine;
  color: green;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 2;
  padding: 5px;
}

figure {
  margin: 0;
  position: relative;
}
figure img {
  height: 10rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
}

figcaption :nth-child(1), figcaption :nth-child(2) {
  margin: 0.5rem;
}

/*partie footer*/
footer {
  background-color: #2b272b;
  color: white;
  padding: 2rem;
  margin-top: 5rem;
}
footer h3 {
  font-family: "Shrikhand", cursive;
}
footer .footer_elements {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}
footer .footer_elements p {
  margin: 0.3rem;
}

/* Partie stylisation des pages des restaurants*/
.header-pages {
  font-family: "Shrikhand", cursive;
  align-items: center;
}
.header-pages a {
  position: absolute;
  left: 5%;
  margin-top: 13px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
section .entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section .contener-nourriture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section .contener-nourriture .qualite-nourritue {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section .menu {
  border: 2px solid black;
  border-radius: 20px;
}
section .menu .phraseprix {
  display: flex;
  flex-direction: row;
}
section .menu .phraseprix p, section .menu .phraseprix .h3 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
