/*Gestion des keyframes*/
@mixin animation-loader{
    @keyframes disparition-loader {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(0);
        }
    }
    @keyframes spiner {
        0%{
            transform: rotate(0deg) scale(1) ;
        }
        50%{
            transform: rotate(180deg) scale(1.2)
        }
        100%{
            transform: rotate(360deg) scale(1) ;
        }
    }
    @keyframes spinerbefore {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    @keyframes spinerafter {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    
}
