/* Partie stylisation des pages des restaurants*/ 
.header-pages{
    font-family: 'Shrikhand', cursive;
    align-items: center;
    position: relative;
    a{
        position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
    }
}
.mainpages{
   position: relative;
}
.contener-img{
    img{
        width: 100%;
        height: 70vh;
        display: block;
        @media (max-width:600px) {
            height: 40vh;
        }
    }
}
.sectiondepage {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0px 0px;
    background-color: rgb(245, 246, 247);

    .entete {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-family: "shrikhand", "cursive";
        .contener_icone-entete{
            position: relative;
            cursor: pointer;
            //Insertion de la mixin
            i {
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            .fa-solid {
                color: transparent;
                opacity: 0;
                transition: all 400ms ease-in;
                
            }
            &:hover .fa-solid{
                background: linear-gradient(to bottom, #ff79da, #9356dc);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 1;
            }//fin de la mixin
        }
    }

    .contener-nourriture {
        display: grid;
        @media (min-width: 1150px) {
        grid-template-columns: repeat(3, 1fr);
        }
           .categorie-de-menu{
            max-width: 100%;
            overflow: hidden;
            padding: 1rem;
            @for $i from 0 to 9 {
                .delai-#{$i} {
                    animation-delay: #{$i/10}s;
                }
            }
            .title{
                padding-bottom: .6rem;
                position: relative;
            }
            .title::after{
                content: "";
                width: 2.5rem;
                height: 0.3rem;
                background-color: #99e2d0;
                position: absolute;
                left: 0;
                bottom: 0;
            }
         }
    }
    
//Parie du bouton commander
    .explorer {
        background: linear-gradient(to bottom, #ff79da, #9356dc);
        color: white;
        border: none;
        border-radius: 25px;
        padding: 10px;
        box-shadow: 0 0 7px #777676;
        margin: 3.5rem 0;
        width: 8rem;
        margin-left: 45%;

        @media (max-width:600px) {
            margin-left: 37%;
        }

        @media (max-width:300px) {
            margin-left: 27%;
        }
    }
}
/* manipulation de menu et de l'animition check*/
.menu {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px #a3a3a3;
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    animation: apparition 500ms;
    animation-timing-function: cubic-bezier(.48, 1.22, .36, .81);
    // transform: scale(0);

    &__sentences{
        padding: .7rem;
    }
    .dishname::after{
        content:"" ;
        background-color: #99e2d0;
        width: 2.5rem;
        height:.3rem;
    }
    &__sentences,
    .dishname,
    .add-sentence {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        margin: 0;  
    }

    &__price {
        font-weight: 650;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
        padding: 0.5rem; 
    }

    &__chechbox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #99e2d0;
        margin-right: -3.5rem;
        width: 3.5rem;
        transition-duration: 500ms;
        .menu__contener-icone {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.3rem;
            width: 1.3rem;
            background-color: white;
            transform: rotate(180deg);
            transition-duration: 500ms;
            border-radius: 100%;
            .menu__icon {
                color: #99e2d0;
            }
        }
    }
   &:hover &__chechbox{
        margin-right: 0;
    }
   &:hover &__contener-icone{
        transform: rotate(0);
    }
}

