/* Partie stylisation des pages des restaurants*/ 
.header-pages{
    font-family: 'Shrikhand', cursive;
    align-items: center;
    a{
        position: absolute;
        left: 5%;
        margin-top: 13px;
    }
}
.sectiondepage{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .entete{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contener-nourriture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .qualite-nourritue{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .menu{
        border: 2px solid black;
        border-radius: 20px;
        .phraseprix{
            display: flex;
            flex-direction: row;
            p,.h3{
                margin: 0;
            }
        }
    }
}